In [135]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pinki\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\pinki\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\pinki\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pinki\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pinki\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\pinki\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\pinki\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pinki\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\pinki\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\pinki\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\pinki\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\pinki\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pinki\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

**Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.**

In [5]:
# lets imports all required libraries.
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings ("ignore")

In [6]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [7]:
# Finding web element for search jobbar using id
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [116]:
search_job.send_keys("Data Analyst")

In [26]:
# finding web element for search locn bar using absolute x path.
search_locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn

In [27]:
search_job.send_keys("Bangalore")

In [30]:
# Extracting job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="d4077d6b29499576048551135e406b7f", element="13ea0064-4e44-408c-ab0b-fc195056c81f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d4077d6b29499576048551135e406b7f", element="9ef158ed-7d94-49ef-981e-aab8a7b45d19")>]

In [31]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Hiring For Data Analyst I(SQL & Python)', 'Senior Data Analyst II']

In [33]:
# Extracting company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="d4077d6b29499576048551135e406b7f", element="4b46aa29-cef6-46e1-b210-8664da7636dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d4077d6b29499576048551135e406b7f", element="398ae8d1-ea1c-4852-8ecf-1eadef641f5b")>]

In [34]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:2]

['Clario India Pvt Ltd', 'Flipkart']

In [36]:
# Extracting experience
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

19

In [37]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[0:2]

['0-2 Yrs', '3-6 Yrs']

In [38]:
# Extracting location
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [39]:
location=[]
for i in locn_tags:
    location.append(i.text)
location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [40]:
len(job_titles),len(company_names),len(experience),len(location)

(20, 20, 19, 20)

In [42]:
jobs=pd.DataFrame()
jobs["Job Title"]=job_titles[:10]
jobs["Company"]=company_names[:10]
jobs["Experience"]=experience[:10]
jobs["location"]=location[:10]
jobs

,Job Title,Company,Experience,location
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst - Ads & Promotion Platform...,Gojek,3-8 Yrs,Bangalore/Bengaluru
6,Hiring Data analyst with Pharma Background acr...,HCL,6-11 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
7,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,4-7 Yrs,Bangalore/Bengaluru(Sadashiva Nagar)
8,Lead Data Analyst - Flipkart Data science group,Flipkart,1-3 Yrs,Bangalore/Bengaluru
9,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru

**Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.**

In [2]:
# lets imports all required libraries.
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings ("ignore")

In [36]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [37]:
# Finding web element for search jobbar using id
search_job=driver.find_element_by_class_name("suggestor-input")
search_job
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")

In [38]:
search_job.send_keys("Data Scientist")
search_loc.send_keys("Bangalore")

In [45]:
search_btn=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')

In [46]:
search_btn.click()

In [47]:
# Extracting job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="86d769d032a917b46011164257007b92", element="f4f822ea-00ec-443b-abe5-32561eaf9982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86d769d032a917b46011164257007b92", element="4d0a999e-fad8-4493-bc5d-01ecf04e19c6")>]

In [48]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Sr Data Scientist', 'HCL Tech Opening - Lead Data Scientist']

In [49]:
# Extracting location
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [50]:
location=[]
for i in locn_tags:
    location.append(i.text)
location[0:2]

['Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [51]:
# Extracting company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="86d769d032a917b46011164257007b92", element="5233d98c-fd9f-4e41-8976-0b30f94041d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86d769d032a917b46011164257007b92", element="77ce1f7b-e4bd-4de2-a7c8-d76541c41827")>]

In [52]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:2]

['Uber', 'HCL']

In [53]:
len(job_titles),len(location),len(company_names)

(20, 20, 20)

In [54]:
jobs=pd.DataFrame()
jobs["Job Title"]=job_titles[:10]
jobs["location"]=location[:10]
jobs["Company"]=company_names[:10]
jobs

,Job Title,location,Company
0,Sr Data Scientist,Bangalore/Bengaluru,Uber
1,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",HCL
2,Sr . Data Scientist,Bangalore/Bengaluru,Visa
3,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
4,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League
5,Hiring For Data scientist- ML/python @ Unitedh...,Bangalore/Bengaluru\n(WFH during Covid),Optum
6,Senior Data Scientist Payments,Bangalore/Bengaluru,AirSeva
7,Senior Data Scientist (R Programming),Remote,Ignitho
8,Computer Vision Python Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",OceanOfWeb
9,Data Scientist,Bangalore/Bengaluru,Minions Ventures

**Q3: In this question you have to scrape data using the filters available on the webpage as shown below:You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs.**

In [3]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)

In [4]:
# Finding web element for search jobbar using id
search_job=driver.find_element_by_class_name("suggestor-input")
search_job
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")

In [5]:
search_job.send_keys("Data Scientist")

In [6]:
search_btn=driver.find_element_by_xpath('//div[@class="qsbSubmit"]')

In [7]:
search_btn.click()

In [8]:
filter_loc=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
filter_loc.click()

In [10]:
filter_salary=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
filter_salary.click()

In [11]:
# Extracting job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="b6dd370e-4777-438f-942a-bf2fa152d087")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="c4b7f029-a1ad-4333-bd88-a23a8d3b2d7d")>]

In [12]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data scientist- Python']

In [13]:
# Extracting company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="f18f98e9-1b8b-4a63-b0f9-c3b4a3e49931")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="e37fed36-6383-493f-b842-e4f631245368")>]

In [14]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:2]

['NTT Data', 'TeamPlus Staffing Solution Pvt Ltd']

In [18]:
# Extracting experience names
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="96f83bae-ff32-492e-ab9b-d638aed3d66e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bff58c215048ca278815887e68710906", element="851789d1-43d1-44df-acfc-364821c68a94")>]

In [19]:
exp=[]
for i in exp_tags:
    exp.append(i.text)
exp[0:2]

['0-0 Yrs', '3-6 Yrs']

In [20]:
len(job_titles),len(company_names),len(exp)

(20, 20, 20)

In [21]:
jobs=pd.DataFrame()
jobs["Job Title"]=job_titles[:10]
jobs["Company"]=company_names[:10]
jobs["Experience"]=exp[:10]
jobs

,Job Title,Company,Experience
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs
1,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs
3,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs
4,Data Scientist,Mount Talent Consulting Private Limited,1-4 Yrs
5,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs
6,Data Scientist _NLP,EXL,3-8 Yrs
7,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs
8,Hiring For Data Scientist- Gurgaon/ Noida,Mascot e-services,2-4 Yrs
9,Data Scientist,BlackBuck,3-7 Yrs

**Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
**1. Brand
**2. Product Description
**3. Price**

In [22]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/search?q=sunglasses&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_10_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_10_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sunglasses&requestId=735bdab4-ffc5-4389-8c05-fc582f1ef37a&as-searchtext=sunglasses"
driver.get(url)

In [25]:
# Extracting brand
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="fc2977f0-b236-454a-aec0-908fcac8c4d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="bcf0fae4-bff3-4ba1-af91-706bfa9b92f5")>]

In [26]:
brand=[]
for i in brand_tags:
    brand.append(i.text)
len(brand)
brand[0:2]

['SRPM', 'SUNBEE']

In [31]:
# Extracting product description
productdesp_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(productdesp_tags)
productdesp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="9337ac7a-03d3-4b19-8c8a-78f4c0a4870d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="a1b9a993-bb05-4c79-9080-8947e9fec8ab")>]

In [32]:
productdesp=[]
for i in productdesp_tags:
    productdesp.append(i.text)
len(productdesp)
productdesp[0:2]

['UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...']

In [33]:
# Extracting price
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="29cfe90e-2002-45b7-bc76-787d5c735ff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2f6ce928a39b6d250ce38e5d6216fd0", element="08ec6672-8d2c-477b-aa97-936ebdd67f1c")>]

In [34]:
price=[]
for i in price_tags:
    price.append(i.text)
len(price)
price[0:2]

['₹198', '₹253']

In [35]:
next_=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [36]:
next_.click()

In [37]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
productdesp_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [39]:
for i in price_tags:
    price.append(i.text)

In [41]:
for i in productdesp_tags:
    productdesp.append(i.text)

In [42]:
for i in brand_tags:
    brand.append(i.text)

In [45]:
next2=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')

In [47]:
next2.click()

In [48]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
productdesp_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [49]:
for i in price_tags:
    price.append(i.text)

In [50]:
for i in productdesp_tags:
    productdesp.append(i.text)

In [51]:
for i in brand_tags:
    brand.append(i.text)

In [64]:
len(price)

120

In [75]:
sunglasses=pd.DataFrame()
sunglasses["brand"]=brand[:100]
sunglasses["productdesp"]=productdesp[:100]
sunglasses["price"]=price[:100]
sunglasses

             brand                                        productdesp price
0             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹198
1           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹253
2   ROZZETTA CRAFT  Polarized, Night Vision, Riding Glasses Sports...  ₹474
3        Elligator                UV Protection Round Sunglasses (54)  ₹258
4           PIRASO              UV Protection Aviator Sunglasses (54)  ₹229
..             ...                                                ...   ...
95   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹799
96          AISLIN       UV Protection, Gradient Oval Sunglasses (58)  ₹446
97  kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹239
98          PIRASO              UV Protection Aviator Sunglasses (54)  ₹225
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹719

[100 rows x 3 columns]

**Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.**

In [26]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace./"
driver.get(url)

In [27]:
All=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')

In [28]:
All.click()

In [29]:
# Extracting rating
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="57bbda78-5f02-4c55-8ee8-b5a93602115e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="1909af10-773f-42f8-b198-bce9991ec2eb")>]

In [30]:
rating=[]
for i in rating_tags:
    rating.append(i.text)
rating[0:2]

['5', '5']

In [31]:
# Extracting review summary
reviewsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
reviewsum_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="6d22862e-11fb-4046-bf8a-1e4be44a4b8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="9744106a-8b5a-478d-9a19-a68f7a8c0ff2")>]

In [32]:
reviewsummary=[]
for i in reviewsum_tags:
    reviewsummary.append(i.text)
reviewsummary[0:2]

['Brilliant', 'Simply awesome']

In [33]:
# Extracting full summary
fullsum_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
fullsum_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="6eec31d6-e1e3-4319-9aee-7709b85f01d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b142f06e80588215722a78df7df1b20", element="784ea6e9-55ba-40b3-9eac-05bb7dfa028c")>]

In [34]:
fullsummary=[]
for i in fullsum_tags:
    fullsummary.append(i.text)
fullsummary[0:2]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.']

In [35]:
next_=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')

In [43]:
next_.click()

In [37]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
reviewsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
fullsum_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [38]:
for i in rating_tags:
    rating.append(i.text)

In [39]:

for i in reviewsum_tags:
    reviewsummary.append(i.text)

In [40]:
for i in fullsum_tags:
    fullsummary.append(i.text)

In [41]:
len(fullsummary)

20

In [44]:
next2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')

In [45]:
next2.click()

In [46]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
reviewsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
fullsum_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [47]:
for i in rating_tags:
    rating.append(i.text)

In [48]:

for i in reviewsum_tags:
    reviewsummary.append(i.text)

In [49]:
for i in fullsum_tags:
    fullsummary.append(i.text)

In [51]:
len(reviewsummary)

30

In [53]:
next3=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')

In [54]:
next3.click()

In [55]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
reviewsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
fullsum_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [56]:
for i in rating_tags:
    rating.append(i.text)

In [57]:

for i in reviewsum_tags:
    reviewsummary.append(i.text)

In [58]:
for i in fullsum_tags:
    fullsummary.append(i.text)

In [59]:
len(reviewsummary)

40

In [134]:
iphone=pd.DataFrame()
iphone["rating"]=rating[:10]
iphone["reviewsummary"]=reviewsummary[:10]
iphone["fullsummary"]=fullsummary[:10]
iphone

,rating,reviewsummary,fullsummary
0,4.2 out of 5 stars,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,3.9 out of 5 stars,Simply awesome,Really satisfied with the Product I received.....
2,3.8 out of 5 stars,Best in the market!,Great iPhone very snappy experience as apple k...
3,3.4 out of 5 stars,Perfect product!,Amazing phone with great cameras and better ba...
4,4.4 out of 5 stars,Fabulous!,This is my first iOS phone. I am very happy wi...
5,4.4 out of 5 stars,Worth every penny,Previously I was using one plus 3t it was a gr...
6,4.3 out of 5 stars,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4.1 out of 5 stars,Good choice,So far it’s been an AMAZING experience coming ...
8,3.7 out of 5 stars,Highly recommended,What a camera .....just awesome ..you can feel...
9,4.2 out of 5 stars,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

**Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker:1. Brand 2. Product Description 3. Price**

In [12]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_8_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=cfbcbba1-6ab3-4782-99c1-223c623a3dac&as-searchtext=sneakers"
driver.get(url)

In [13]:
# Extracting brand
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="bf29c9a9-1a07-446e-ac93-92531d7bd449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="2cb29b62-1f0a-409e-ac2f-f14742dc85b0")>]

In [14]:
brand=[]
for i in brand_tags:
    brand.append(i.text)
len(brand)
brand[0:2]

['HIGHLANDER', 'HIGHLANDER']

In [15]:
# Extracting product description
productdesp_tags=driver.find_elements_by_xpath('//span[@class="_376u-U"]')
len(productdesp_tags)
productdesp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="7234709d-e627-4a75-bfc7-588c92a296e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="312dca10-ba99-4343-804e-c1c71bb3a0fa")>]

In [16]:
productdesp=[]
for i in productdesp_tags:
    productdesp.append(i.text)
len(productdesp)
productdesp[0:2]

['Size', 'Size']

In [17]:
# Extracting price
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="aaf47617-fd42-46a5-9299-1572098ef079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="059d68f9b3778a56b16211f7e6b179e0", element="18a45ff1-a938-4c43-b1e6-7616f904dde9")>]

In [18]:
price=[]
for i in price_tags:
    price.append(i.text)
len(price)
price[0:2]

['₹796', '₹995']

In [20]:
len(brand_tags),len(productdesp_tags),len(price_tags)

(40, 5, 40)

In [103]:
sneakers=pd.DataFrame()
sneakers["brand"]=brand[:100]
sneakers["productdesp"]=productdesp[:100]
sneakers["price"]=price[:100]
sneakers

             brand                                        productdesp price
0             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹198
1           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹253
2   ROZZETTA CRAFT  Polarized, Night Vision, Riding Glasses Sports...  ₹474
3        Elligator                UV Protection Round Sunglasses (54)  ₹258
4           PIRASO              UV Protection Aviator Sunglasses (54)  ₹229
..             ...                                                ...   ...
95   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹799
96          AISLIN       UV Protection, Gradient Oval Sunglasses (58)  ₹446
97  kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹239
98          PIRASO              UV Protection Aviator Sunglasses (54)  ₹225
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹719

[100 rows x 3 columns]

**Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.**

In [61]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

In [62]:
filter_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price.click()

In [63]:
filter_colour=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_colour.click()

In [64]:
# Extracting brand
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)
brand_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="53ca0841-0805-4e0f-ac45-7024544dc771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="b4101bbb-552a-41ba-9e06-7bfab33026e0")>]

In [65]:
brand=[]
for i in brand_tags:
    brand.append(i.text)
len(brand)
brand[0:2]

['ALDO', 'Reebok']

In [66]:
# Extracting shoe desp
desp_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(desp_tags)
desp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="46c74377-19fb-45c4-98e1-f338113c14d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="b5a9a599-1571-4c86-b22e-dbd8408a74ee")>]

In [67]:
desp=[]
for i in desp_tags:
    desp.append(i.text)
len(desp)
desp[0:2]

['Men Leather Driving Shoes', 'Men Zig Dynamica 2.0 Running']

In [68]:
# Extracting price
price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tags)
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="fd14f3b1-9641-4e13-8d60-fb23e000cd3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db43af44186bc42a33be4eff0d77a93d", element="a5ec259c-e68d-4359-a047-ac8db7f36f09")>]

In [69]:
price=[]
for i in price_tags:
    price.append(i.text)
len(price)
price[0:2]

['Rs. 12999', 'Rs. 7999']

In [72]:
shoes=pd.DataFrame()
shoes["brand"]=brand[:100]
shoes["desp"]=desp[:100]
shoes["price"]=price[:100]
shoes

,brand,desp,price
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,Reebok,Men Zig Dynamica 2.0 Running,Rs. 7999
2,Nike,Men Winflo 7 Running Shoes,Rs. 7995
3,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
4,Tommy Hilfiger,Men Cleated Leather Sneakers,Rs. 7739Rs. 8599(10% OFF)
5,ALDO,Men Woven Design Sneakers,Rs. 13999
6,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
7,Puma,Eternity Nitro Running Shoes,Rs. 12999
8,Puma,Electrify Nitro Running Shoes,Rs. 9999
9,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
10,Nike,Men Air Max Dawn Sneakers,Rs. 10995
11,Puma,Men FUSE Training Shoes,Rs. 7999
12,Puma,Men Training or Gym Shoes,Rs. 7999
13,ASICS,Women Running Shoes,Rs. 7999
14,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
15,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
16,Hush Puppies,Men Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
17,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
18,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
19,Puma,Women Velocity NITRO Runners,Rs. 8249Rs. 10999(25% OFF)
20,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
21,J.FONTINI,Men Black Leather Loafers,Rs. 8490
22,Saint G,Women Leather Block Heels,Rs. 9500
23,TRIBAN By Decathlon,Unisex Training or Gym Shoes,Rs. 8579Rs. 10999(22% OFF)
24,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
25,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
26,Sole To Soul,Women Block Heeled Boots,Rs. 8900
27,Tommy Hilfiger,Women CLEAT Textured Sneakers,Rs. 7739Rs. 8599(10% OFF)
28,Tommy Hilfiger,Leather Sandals,Rs. 7599
29,MANGO,Women Solid Sneakers,Rs. 8990
30,Puma,Women Eternity NITRO Shoes,Rs. 9099Rs. 12999(30% OFF)
31,Heel & Buckle London,Men Suede Loafers,Rs. 12990
32,Geox,Men Striped Leather Sneakers,Rs. 9990
33,Geox,Men Leather Driving Shoes,Rs. 9499
34,ALDO,Wedge Sandals,Rs. 7999
35,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
36,ALDO,Wedge Sandals,Rs. 7999
37,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
38,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
39,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
40,Saint G,Leather High-Top Heeled Boots,Rs. 10625Rs. 12500(15% OFF)
41,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
42,MANGO,Women Heeled Leather Loafers,Rs. 7990
43,Sole To Soul,High-Top Block Heeled Boots,Rs. 7900
44,Geox,Women Leather Pumps,Rs. 8999
45,Sole To Soul,High-Top Platform Heeled Boots,Rs. 8900
46,Sole To Soul,Suede High-Top Block Heeled Boots,Rs. 9500
47,ROSSO BRUNELLO,Printed PU Kitten Sandals,Rs. 8499
48,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
49,DAVINCHI,Solid Slip On Shoes,Rs. 7990

**Q8: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:1. Title  2. Ratings  3. Price**

In [79]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.amazon.in/s?k=laptop&sprefix=laptop%2Caps%2C242&ref=nb_sb_ss_ts-doa-p_2_6"
driver.get(url)

In [81]:
filter_cputype=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div/div/div/div[6]/ul[4]/li[11]/span/a/span')
filter_cputype.click()

In [82]:
# Extracting title
title_tags=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="eec3fa31-80aa-4afe-9659-2b81c9384502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="ca9cea4f-0db2-4aa5-9199-6d8098a6c6b4")>]

In [83]:
title=[]
for i in title_tags:
    title.append(i.text)
len(title)
title[0:2]

['Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)']

In [101]:
# Extracting rating
rating_tags=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(rating_tags)
rating_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="8304c9fe-045e-47b4-93f5-8167a7a9b3ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="8bcbc53e-df75-45cc-88e4-3d0733a77d6b")>]

In [103]:
rating=[]
for i in rating_tags:
    rating.append(i.get_attribute('textContent'))
len(rating)
rating[0:2]

['4.2 out of 5 stars', '3.9 out of 5 stars']

In [104]:
len(rating)

30

In [105]:
# Extracting price
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tags)
price_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="910d2435-9849-4111-8a86-c56f6027733e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6f0644a7f4aaa0c9dfe34d24b20edb17", element="13ec255a-77fd-4a3f-9eac-e0d9fd42c43e")>]

In [106]:
price=[]
for i in price_tags:
    price.append(i.text)
len(price)
price[0:2]

['82,990', '92,990']

In [107]:
len(price)

29

In [108]:
laptop=pd.DataFrame()
laptop["title"]=title[:10]
laptop["rating"]=rating[:10]
laptop["price"]=price[:10]
laptop

,title,rating,price
0,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,4.2 out of 5 stars,"82,990"
1,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,3.9 out of 5 stars,"92,990"
2,Mi Notebook Ultra 3.2K Resolution Display Inte...,3.8 out of 5 stars,"76,900"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",3.4 out of 5 stars,"39,990"
4,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.4 out of 5 stars,"39,990"
5,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.4 out of 5 stars,"26,990"
6,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,4.3 out of 5 stars,"33,290"
7,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,4.1 out of 5 stars,"25,990"
8,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,3.7 out of 5 stars,"88,990"
9,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.2 out of 5 stars,"79,999"

**Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.**

In [126]:
# lets first connect to webdriver.
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.ambitionbox.com/"
driver.get(url)

In [129]:
# Extracting company name
company=driver.find_elements_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[2]/div[2]/div/div[1]/div[1]/div[2]/h2/a')
len(company)
company[0:2]

In [133]:
company=[]
for i in company:
    company.append(i.text)
company[0:2]

[]